@model WDACC.Models.ViewModel.AdminViewModel

@{
    ViewBag.Title = "會議活動修改";
}

@Html.Partial("_TitleBar")

<div id="meeting_detail" class="news-content">
    @Html.Partial("Meeting/_EditForm")
</div>
