################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/.vs/WDACC/FileContentIndex
/WDACC.csproj.user
/.vs/WDACC/v17/.suo
/.vs/WDACC/v17/DocumentLayout.backup.json
/.vs/WDACC/v17/DocumentLayout.json
