<?xml version="1.0" encoding="utf-8"?>
<!--
  如需如何設定 ASP.NET 應用程式的詳細資訊，請瀏覽
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <sectionGroup name="system.web.webPages.razor" type="System.Web.WebPages.Razor.Configuration.RazorWebSectionGroup, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <section name="host" type="System.Web.WebPages.Razor.Configuration.HostSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
      <section name="pages" type="System.Web.WebPages.Razor.Configuration.RazorPagesSection, System.Web.WebPages.Razor, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" />
    </sectionGroup>
    <section name="iBATIS_logging" type="IBatisNet.Common.Logging.ConfigurationSectionHandler, IBatisNet.Common" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Turbo.MVC.Base3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 Turbo.MVC.Base3「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <iBATIS_logging>
      <logFactoryAdapter type="IBatisNet.Common.Logging.Impl.Log4NetLoggerFA, IBatisNet.Common.Logging.Log4Net">
        <arg key="configType" value="external" />
      </logFactoryAdapter>
    </iBATIS_logging>
  </location>
  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 Turbo.MVC.Base3「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.web.webPages.razor>
      <host factoryType="System.Web.Mvc.MvcWebRazorHostFactory, System.Web.Mvc, Version=5.2.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      <pages pageBaseType="System.Web.Mvc.WebViewPage">
        <namespaces>
          <remove namespace="WDAIIP.WEB" />
          <add namespace="System.Web.Mvc" />
          <add namespace="System.Web.Mvc.Ajax" />
          <add namespace="System.Web.Mvc.Html" />
          <add namespace="System.Web.Optimization" />
          <add namespace="System.Web.Routing" />
          <add namespace="Turbo.MVC.Base3" />
          <add namespace="Turbo" />
          <add namespace="Turbo.Commons" />
          <!--<add namespace="Turbo.ReportTK"/>-->
          <add namespace="Turbo.Helpers" />
        </namespaces>
      </pages>
    </system.web.webPages.razor>
  </location>
  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 Turbo.MVC.Base3「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <appSettings>
      <add key="vs:EnableBrowserLink" value="false" />
      <add key="webpages:Version" value="3.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <!-- 主機環境角色設定: 1.內網環境, 2.外網環境 -->
      <add key="NetID" value="1" />
      <!--      (測試開發用)      啟用壓力測試模式(會使用模擬的帳號及角色覆寫登入者資訊)      Y: 啟用,      其他: 停用      -->
      <!--      <add key="StressTestMode" value="Y" />      <add key="StressTestUserNo" value="johnsoncj" />      -->
      <!--      設定是否停用 Authorize 權限檢核 (測試開發用):
        2:  當系統管理者角色時停用, AuthorizeRequired 沒作用直接 bypass
        1:  全部停用, AuthorizeRequired 沒作用直接 bypass
        0:  未停用
      -->
      <add key="DisableAuthorize" value="1" />
      <!--      設定在 ErrorPage 中是否要顯示錯誤 Exception 訊息及 Stacktrace,
      但若在 localhost 執行, 則不受此設定影響, 一律顯示 Exception 訊息及 Stacktrace:
      0. 不顯示
      1. 顯示 Exception Message
      2. 顯示 Exception Message 及 Stacktrace      -->
      <add key="ErrorPageShowExeption" value="2" />
      <!-- 電子抽籤網站連結網址（AT/C201 畫面查詢結果資料會使用到） -->
      <add key="BallotUrl" value="http://172.28.11.92/Ballot/Ballot.aspx" />
      <!-- 檔案上傳路徑(相對於 ContextRoot) -->
      <add key="UpLoadFile" value="/Uploads" />
      <!-- 系統暫存路徑(相對於 ContextRoot) -->
      <add key="TempPath" value="/App_Data/Temp" />
      <!-- 系統郵件服務主機 IP -->
      <!-- <add key="MailServer" value="mail.vac.gov.tw" />-->
      <add key="MailServer" value="mail.turbotech.com.tw" />
      <!-- 系統郵件寄件者帳號-->
      <!-- <add key="MailSenderAddr" value="Turbo.MVC.Base3@mail.vac.gov.tw" />-->
      <add key="MailSenderAddr" value="service" />
      <!-- 系統郵件寄件者密碼-->
      <!--0A3F679C5C3490984F39F5AD9B603EC93FBE2F7373BB4ABCA0489B449855327DB45D75109F08E2C720E3C69C66B9FAD31138B9FD4CB15357CF04AA6ACF26A046-->
      <add key="MailSenderPwd" value="turbo@1314" />
      <!-- 正式模式 Y: 正式模式 -->
      <add key="IsProductionMode" value="N" />
      <!-- 測試收信email -->
      <add key="TestMailTo" value="sammychang@turbotech.com.tw" />
      <!-- FTP Nas Server -->
      <add key="FtpNasServer" value="ftp://172.28.100.39/CLA_FILEUPLOAD/" />

      <!-- 啟用內網使用者「12-20 碼密碼長度」檢查。（Y: 啟用，N: 不啟用 (即維持原 8-20 碼密碼長度)）-->
      <add key="Net1UserPwdLen1220Check" value="N" />
      <!-- 系統主功能表樣式（0: 系統預設樣式，1: 樹型樣式）-->
      <add key="MainMenuType" value="1" />
      <!-- (測試環境) Y-->
      <add key="TestEnvironmentMode" value="Y" />

      <!--      報表圖片引用基礎網址      因為經負載平衡進來,  Request 抓到的網址在主機端不適用      會造成轉 PDF 圖片出不來, 所以明確設定      -->
      <!--<add key="ReportBaseUrl" value="http://localhost:803/cla/" />-->
      <!--        A4 民眾申訴 IMGAE UNC      -->
      <!--<add key="A4ImageUNC" value="\\127.0.0.1\image\" />-->
      <add key="A4ImageUNC" value="~/image/" />
      <add key="elmah.mvc.disableHandler" value="false" />
      <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
      <add key="elmah.mvc.requiresAuthentication" value="false" />
      <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
      <add key="elmah.mvc.allowedRoles" value="*" />
      <add key="elmah.mvc.allowedUsers" value="*" />
      <add key="elmah.mvc.route" value="elmah" />
      <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    </appSettings>
  </location>
  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 Turbo.MVC.Base3「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.web>
      <httpCookies httpOnlyCookies="true"></httpCookies>
      <httpRuntime targetFramework="4.5.2" maxRequestLength="30240" enableVersionHeader="false" executionTimeout="900" appRequestQueueLimit="1000" />
      <compilation debug="false" targetFramework="4.5.2" />
      <customErrors mode="RemoteOnly" />
      <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
      <webServices>
        <protocols>
          <remove name="Documentation" />
        </protocols>
      </webServices>
    </system.web>
  </location>
  <!--20181005 加入 location 設定避免子網站繼承父網站 Web.config（原因：技檢 1.0 電子抽籤網站「虛擬目錄」要掛在技檢 2.0 Turbo.MVC.Base3「虛擬目錄」內）-->
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <httpProtocol>
        <customHeaders>
          <add name="Cache-Control" value="private,no-cache,no-store" />
          <add name="Pragma" value="no-cache" />
          <add name="Expires" value="0" />
          <!--X-AspNet-Version: 4.0.30319
					X-AspNetMvc-Version: 5.2
					X-Powered-By: ASP.NET-->
          <remove name="X-AspNet-Version" />
          <remove name="X-AspNetMvc-Version" />
          <remove name="X-Powered-By" />
          <!--置定 IE 瀏覽器兼容模式-->
          <remove name="X-UA-Compatible" />
          <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
          <!--防止 X-Frame-Option 攻擊-->
          <remove name="X-Frame-Options" />
          <add name="X-Frame-Options" value="SAMEORIGIN" />
          <add name="X-Content-Type-Options" value="nosniff" />
          <add name="X-XSS-Protection" value="1; mode=block" />
          <add name="Strict-Transport-Security" value="max-age=31536000;includeSubDomains" />
          <!--<add name="Content-Security-Policy" value="default-src 'self'; frame-ancestors 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' www.google.com www.googletagmanager.com www.googleadservices.com googleads.g.doubleclick.net; style-src 'self' 'unsafe-inline' fonts.googleapis.com www.google.com use.fontawesome.com; font-src 'self' fonts.gstatic.com use.fontawesome.com; frame-src 'self' www.youtube.com bid.g.doubleclick.net www.facebook.com; img-src 'self' www.google.com www.google.com.tw www.googleapis.com clients1.google.com; object-src 'self' flv-player.net;"/>-->
          <add name="Content-Security-Policy" value="frame-ancestors 'self'" />
          <add name="Referrer-Policy" value="strict-origin" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering>
          <!--限制 QueryString 長度最大 4 KB，上傳檔案長度最大 32 MB-->
          <requestLimits maxQueryString="4096" maxAllowedContentLength="33554432" />
          <fileExtensions allowUnlisted="true">
            <remove fileExtension=".mdb" />
            <add fileExtension=".mdb" allowed="true" />
          </fileExtensions>
        </requestFiltering>
      </security>
      <staticContent>
        <remove fileExtension=".eot" />
        <remove fileExtension=".otf" />
        <remove fileExtension=".ttf" />
        <remove fileExtension=".woff" />
        <remove fileExtension=".woff2" />
        <remove fileExtension=".svg" />
        <remove fileExtension=".7z" />
        <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
        <mimeMap fileExtension=".otf" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".ttf" mimeType="application/octet-stream" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
        <mimeMap fileExtension=".7z" mimeType="application/x-7z-compressed" />
        <mimeMap fileExtension=".odt" mimeType="application/vnd.oasis.opendocument.text" />
      </staticContent>
    </system.webServer>
  </location>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
  </system.webServer>
  <elmah>
  </elmah>
</configuration>