@charset 'UTF-8';

/* CSS Document */
ul,
li { padding: 0; margin: 0; list-style: none; }

body { color: #333333; line-height: 1.5em; font-size: 1em; }

a { color: #316464; text-decoration: none; }

.logobg { font-size: 0; }

i.space-right { margin-right: 5px; }

.header { background-color: #ededed; overflow: auto; color: #444444; }

	.header a { padding: 2px 5px; font-size: 0.9em; color: #444444; }

		.header a:hover { text-decoration: none; color: #0056b7; }

.header-right { float: right; padding-right: 10px; }

.login-border { border: #d3e1e4 1px solid; border-radius: 15px; margin-bottom: 30px; padding: 20px 30px; }

@media only screen and (max-width:768px) {
	.header { display: none; }

	.logobg { /* 		background:url(../images/headerBg.jpg) top center no-repeat;
				background-size:auto; */ }
}

.main-ad { margin: 20px 0 10px; }

.admin-user { float: right; }

	.admin-user a { display: inline-block; background-color: #858389; padding: 2px 6px; border-radius: 0 0 6px 6px; color: #FFF; }

		.admin-user a:hover { background-color: #5c43a4; color: #FFF; text-decoration: none; }

@media only screen and (max-width:768px) {
	.admin-user a { display: inline-block; background-color: #858389; padding: 4px 8px; border-radius: 6px 6px 0 0; color: #FFF; margin-bottom: -2px; }

		.admin-user a:hover { background-color: #5c43a4; color: #FFF; text-decoration: none; }
}

/*-- nav --*/
.nav-bg { background-color: #0070b8; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset; box-shadow: 0 0 10px rgba(0, 0, 0, .5) inset; margin: 0; }

.nav-bg-user { background-color: #009aa8 !important; }

.nav-bg-admin { background-color: #746196 !important; }

ul.navbar-nav { }

.navbar-nav > li { margin-bottom: 0px; margin-top: 0px; }

	.navbar-nav > li > a { color: #FFF; text-shadow: 0 1px 3px rgba(0, 0, 0, .1); font-size: 1.125em; margin: 0; padding-top: 14px !important; padding-bottom: 14px !important; }

		.navbar-nav > li > a:hover,
		.navbar-nav > li > a:focus { /*background-color:none;
	background-image: linear-gradient(to top, rgba(48,94,94, 1),  rgba(56,170,167, 1));*/ background-color: #FFF !important; color: #006fb6 !important; }

.navbar-nav > .active > a,
.navbar-nav > .active > a:hover,
.navbar-nav > .active > a:focus { color: #006fb6 !important; background-color: #FFF !important; }

.navbar-nav > li > a.navMark-green { background-color: #97c300; }

.navbar-nav > li > a.navMark-blue { background-color: #00a0a8; }

.navbar-toggle { /* margin-top: 3% !important; */ /* margin-right: -5px !important; */ }

	.navbar-toggle .icon-bar { background-color: #FFF !important; }

@media only screen and (max-width:768px) {
	.navbar-nav > li { margin-bottom: 0; text-align: center !important; }

	.navbar-toggle .icon-bar { background-color: #333333 !important; }

	ul.dropdown-menu li a { color: #FFF; border-bottom: 1px solid #6497b4; padding: 10px 20px !important; text-align: center !important; }
}

/*-- index content --*/
h3.main-title { color: #FFF; font-size: 1.125em; padding: 10px 15px; margin: 20px 0 5px 0; display: inline-block; border-radius: 35px; letter-spacing: 0.2rem; }

a.main-more { float: right; font-size: .8em; margin-top: -7px; padding: 9px; }

h3.titlebar { padding: 6px 10px; display: inline-block; margin: 5px 0; font-size: 1rem; border-radius: 25px; letter-spacing: 0.2rem; }

.titlebarBg-green { background-color: #cce3d2; color: #00382a; border-bottom: 1px solid #70bca9; }

h3.titlebar-blue { background-color: #0093d8; color: #FFF; }

h3.titlebar-purple { background-color: #66489d; color: #FFF; }

.titlebar-blue a.main-more { color: #FFF; }

	.titlebar-blue a.main-more:hover { color: #caeeff; text-decoration: none; }

h3.titlebar-red { background-color: #dd2626; }

.titlebar-red a.main-more { color: #FFF; }

	.titlebar-red a.main-more:hover { color: #ffd7d7; text-decoration: none; }

h3.titlebar-orange { background-color: #ffa127; }

h3.titlebar-yellow { background-color: #e22850; }

.titlebar-yellow a.main-more { color: #FFF; }

	.titlebar-yellow a.main-more:hover { color: #333333; text-decoration: underline; }

h3.titlebar-green { background-color: #00807B; }

.titlebar-green a.main-more { color: #FFF; }

	.titlebar-green a.main-more:hover { text-decoration: none; color: #bbf9ea; }

h3.titlebar-pinky { background-color: #e22850; }

.titlebar-pinky a.main-more { color: #FFF; }

	.titlebar-pinky a.main-more:hover { text-decoration: none; color: #ffd3dc; }

.titlebar-timer { float: right; color: #e40036; font-size: .9rem; padding-top: 2px; }

/*---------*/
.activity-photo { margin-top: 5px; margin-bottom: 20px; }

	.activity-photo img { border: 1px solid #ededed; margin: 0 auto; }

.main-btngroup { float: right; margin-right: 5px; }

.titlebar a.btn-titlebar { float: right; font-size: .9em; padding: 6px 12px; margin-top: -5px; margin-left: 5px; color: #FFF; border-radius: 4px; display: block; }

	.titlebar a.btn-titlebar:hover { background-color: #005e9a; color: #FFF; text-decoration: none; }

.titlebar a.bg-orange { background-color: #f47900; }

.titlebar a.bg-blue { background-color: #109ffe; }

/*----navbar logo-----*/
.index-logo { margin: 40px 20px; float: left; }

.navbar-logo-lt { display: inline-block; vertical-align: middle; width: 66.66666667%; }

.navbar-logo-rt { display: inline-block; vertical-align: middle; text-align: right; width: 33.33333333%; }

	.navbar-logo-rt .rt-bg { position: absolute; right: 0; top: 0; z-index: -1; }

.navbar-logo { }

	.navbar-logo .aBanner { text-decoration: none; display: inline-block; }

		.navbar-logo .aBanner > img { display: inline-block; vertical-align: middle; }

		.navbar-logo .aBanner .title { position: relative; display: inline-block; vertical-align: middle; margin: 0 0 0 2rem; color: #111; font-size: 1.75rem; }

			.navbar-logo .aBanner .title > img { position: absolute; z-index: -1; left: 0; top: -130%; }

			.navbar-logo .aBanner .title:before { content: ''; background-color: #E0E0E0; width: 1px; height: 100%; position: absolute; left: -1rem; bottom: 0; }

			.navbar-logo .aBanner .title:after { content: ''; background-color: #DEF0FE; width: 100%; height: 1rem; position: absolute; left: 0; bottom: -.5rem; z-index: -1; }

@media only screen and (max-width:992px) {

	/* 	.navbar-logo-lt {
		width: 75%;
	}
	 */
	.navbar-logo-rt { position: relative; }

	.navbar-logo .aBanner > img { width: 50%; }

	.navbar-logo .aBanner .title { font-size: 1.5rem; }
}

@media only screen and (max-width:768px) {
	.logobg { height: 80px; }

	.navbar-logo-lt { width: 85%; overflow: hidden; }

	.navbar-logo-rt { width: 15%; }

		.navbar-logo-rt > img { display: none; }

	.navbar-header { position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%); }

	.navbar-logo .aBanner > img { width: 50%; }

	.navbar-logo .aBanner .title { font-size: 1.25rem; }

	.navbar-logo { height: 80px; line-height: 80px; }
}

@media only screen and (max-width:580px) {
	.logobg { display: table; }

	.navbar-logo-rt,
	.navbar-logo-lt { display: table-cell; white-space: nowrap; }
}

@media only screen and (max-width:480px) {
	.logobg { height: 60px; line-height: 60px; }

	.navbar-logo-lt { width: 91.66666667%; }

	.navbar-logo-rt { width: 8.33333333%; }

	.navbar-logo { height: 60px; line-height: 60px; }

		.navbar-logo .aBanner > img { width: 48%; }

		.navbar-logo .aBanner .title { font-size: 1rem; }
}

@media only screen and (max-width:768px) and (min-width:480px) {
	h3.map-title { display: block; }

	.index-logo { margin: 20px 5px; float: left; }
}

@media only screen and (max-width:480px) {
	h3.map-title { display: block; }

	.index-logo { margin: 20px 5px; float: left; }

	.main-btngroup { float: none; margin-right: 0px; display: block; margin-top: 10px; }
}

/*--- submenu ---*/
.submenu { margin-top: 20px; }

	.submenu .nav-tabs li a { background-color: #ace4f0; color: #222222; letter-spacing: .1rem; }

/*-- search bar --*/
.search-bar { background-color: #f7f7f7; border: 1px solid #dadada; margin: 0 0 10px 0; padding: 10px; border-radius: 4px; font-size: 1rem; color: #4d4d4d; overflow: auto; z-index: -1; }

ul.type_select { padding: 0; margin: 0; }

	ul.type_select li { padding: 0 10px 10px 0; margin: 0; float: left; }

		ul.type_select li label { padding-left: 5px; }

.search-bar .form-group { width: 28%; float: left; margin: 0 0.5%; }

	.search-bar .form-group label { display: none; }

.search_select { clear: both; }

	.search_select > input { width: 28%; float: left; height: 36px; border: 1px solid #d9d9d9; background-color: #FFF; border-radius: 4px; padding: 4px 8px; }

	.search_select > span { float: left; padding: 8px 8px 8px 10px; }

.search_btn > .btn_set { width: 6%; float: left; margin: 0 0.5%; padding: 4px 8px; text-align: center; border: 1px solid #d9d9d9; background-color: #6f6f6f; border-radius: 4px; color: #FFF !important; -webkit-transition-duration: 0.4s; /* Safari */ -o-transition-duration: 0.4s; transition-duration: 0.4s; }

	.search_btn > .btn_set:hover { background-color: #ffa922; color: #333333 !important; }

.search_btn .btn_arrow { float: right; color: #999999; }

@media only screen and (max-width:768px) and (min-width:480px) {
	.search-bar { float: none; width: 100%; margin-top: 0%; border-top: 1px solid #eeeeee; }

	.search_select > input { width: 28%; float: left; height: 36px; margin: 0 0.5%; }

	.search-bar .form-group { width: 28%; float: left; height: auto; margin: 0 0.5%; }

	.search_btn > .btn_set { width: 8%; margin: 0 0 0 0.5%; }

	.navbar-toggle { padding: 0; margin: 0; }
}

@media only screen and (max-width:480px) {
	.search-bar { width: 110%; margin: 0 -15px 10px -15px; padding: 10px; overflow: auto; }

	.search_select > input { width: 100%; float: none; height: 36px; margin: 0 0 10px 0; }

	.search-bar .form-group { width: 100%; float: none; height: auto; margin: 0 0 10px 0; }

	.search_btn > .btn_set { width: 100%; margin: 0; }

	.search_select > span { display: none; }

	.navbar-header button { margin: 0; padding: 0; }
}

/*--page-search--*/
.main-title-green { background-color: #0c8466; border-radius: 15px 15px 0px 0px; border-bottom: 1px solid #FFF; }

.main-title-pink { background-color: #f76e8b; border-radius: 15px 15px 0px 0px; border-bottom: 1px solid #FFF; }

.unit-border { border: #d3e1e4 1px solid; border-radius: 0 0 15px 15px; margin-bottom: 30px; }

.unit-bg { font-size: 1em; color: #333333; margin: 0; padding: 10px; line-height: 2em; }

.unit-bg-blue { background-color: #f5fcfe; }

.unit-bg-green { background-color: #edf7f6; }

.unit-bg-grayYellow { background-color: #f5f4e8; }

	.unit-bg-green p,
	.unit-bg-gray p,
	.unit-bg-pink p,
	.unit-bg-grayYellow p,
	.unit-bg-blue p { color: #006080; font-size: 1em; }

.unit-bg-gray { background-color: #f2f2f2; }

	.unit-bg-gray span { color: #006080; }

.unit-bg-pink { background-color: #fff8f9; }

.unit-spaces { margin: 2px 0; }

.unit-bg ol li { list-style: decimal; }

ul.review-link { padding: 0 0 20px 0; margin: 4px 0; }

	ul.review-link li { padding: 0; margin: 0.5%; float: left; width: 32%; }

		ul.review-link li a { display: block; border: 1px solid #d6e2ca; padding: 6px 4px; color: #333333; }

			ul.review-link li a:hover { background-color: #cce3d2; text-decoration: none; }

@media only screen and (max-width:768px) and (min-width:480px) {
	ul.review-link li { margin: 0.5% 1%; float: left; width: 48%; }
}

@media only screen and (max-width:480px) {
	ul.review-link li { margin: 0.5% 0; float: left; width: 100%; }
}

/*----------*/
.index-search { margin-bottom: 10px; }

.checkbox-set { margin: 0 20px; }

	.checkbox-set input { margin: 5px; }

@media only screen and (max-width:768px) and (min-width:480px) {
}

@media only screen and (max-width:480px) {
	.form-normal { width: 85%; margin: 4px 0; }
}

/*-- table-result --*/
.table-result { margin: 10px 0; font-size: .9rem; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2); box-shadow: 0 0 10px rgba(0, 0, 0, .2); }

	.table-result h3 { font-size: 1rem; margin: 4px auto; padding: 6px 2px; color: #0095ac; border: 1px solid #0095ac; text-align: center; }

	.table-result td { background-color: #fafafa; padding: 6px; text-align: left; border-bottom: 1px solid #FFF; border-left: 1px solid #FFF; }

.btn-result { margin: 2px 0 !important; background-color: #ffbe23; padding: 4px 6px !important; width: 100%; }

	.btn-result:hover { background-color: #ff4800; color: #FFF !important; }

/*---search table start ----------*/
.table-page { background-color: #d7ecf1; padding: 4px 10px; text-align: center; color: #074f93; font-size: .9em; }

	.table-page a { background-color: #FFFFFF; display: inline-block; padding: 0 8px; margin: 0 5px; border-radius: 5px; }

		.table-page a:hover { text-decoration: none; background-color: #3366CC; color: #FFF; }

.search-table { border-top: #FFF 1px solid; font-size: .9em; }

	.search-table th { text-align: center; padding: 6px 2px; border-right: #FFF 1px solid; border-bottom: #FFF 1px solid; }

		.search-table th a { color: #FFF; }

	.search-table td { text-align: center; padding: 6px 6px; border-bottom: 1px solid #e3e3e3; }

		.search-table td:nth-child(1) { text-align: left; }

		.search-table td a { color: #074f93; text-decoration: underline; }

			.search-table td a:hover { color: #001d5f; text-decoration: none; }

	.search-table th:last-child { border-right: none; }

/*---teacher table start ----------*/
.teacher-result { padding: 10px; -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2); box-shadow: 0 0 10px rgba(0, 0, 0, .2); overflow: auto; }

	.teacher-result p { padding: 6px; }

.table-teacher { border-top: #FFF 1px solid; font-size: .9375rem; border-top: 1px solid #e3e3e3; }

	.table-teacher > tbody > tr > th { background-color: #2E7EA3 !important; color: #FFF !important; border-left: 1px solid #FFF; text-align: center; }

	.table-teacher td { text-align: left; padding: 6px 8px; border-bottom: 1px solid #e3e3e3; }

	.table-teacher > tbody > tr > td:nth-child(1) { text-align: center; color: #074f93; background-color: #d7ecf1; border-bottom: 1px solid #FFF; }

	.table-teacher > tbody > tr > td:nth-child(3) { text-align: center; color: #074f93; background-color: #d7ecf1; border-bottom: 1px solid #FFF; }

	.table-teacher td a:hover { color: #001d5f; text-decoration: none; }

	.table-teacher tr:nth-child(even) { background-color: #fbfbfb; }

	.table-teacher tr:hover { background-color: #f4fafc; }

	.table-teacher ul { padding: 0; margin: 0; }

		.table-teacher ul:not(.list-unstyled) li { /* 須排除.list-unstyled 避免汙染日曆元件 */ background: url(../images/icon-arrow-blue.png) left center no-repeat; padding: 2px 0 2px 15px; }

	.table-teacher .btn-active a { background-color: #0066CC; color: #FFF; margin-left: 5px; padding: 2px 10px; border-radius: 15px; border: 1px solid #FFF; }

		.table-teacher .btn-active a:hover { background-color: #FFF; color: #3366CC; border: 1px solid #4b98e5; }

	.table-teacher .btn-active i { margin-left: 5px; }

.table-class { margin: 0 0 5px 0 !important; border: none; }

	.table-class th { background-color: #2E7EA3 !important; border-radius: 4px; color: #FFF !important; border-left: 1px solid #FFF; text-align: center; }

	.table-class td { padding: 4px 8px; background-color: #FFF; border-bottom: 1px solid #d2e6ed; }

		.table-class td:first-child { }

		.table-class td:first-child,
		.table-class td:nth-child(3) { background-color: #FFF; border-bottom: 1px solid #d2e6ed; }

	.table-class tr:nth-child(even) { background-color: #eff6f8 !important; }

	.table-class tr:hover { background-color: #eff6f8 !important; }

/*-- table blue--*/
.table-blue th { background-color: #cce3d2; color: #00382a; border-bottom: 1px solid #70bca9; }

.table-blue tr:nth-child(even) { background-color: #f8fbf9; }

.table-blue tr:hover { background-color: #edfaf1; }

/*-- table pink--*/
.table-pink th { background-color: #9e2637; color: #FFF; }

.table-pink tr:nth-child(even) { background-color: #fff9fa; }

.table-pink tr:hover { background-color: #fff1f3; }

/*-- table green--*/
.table-line { border-bottom: 1px solid #b5b5b5; border-top: 1px solid #d9d9d9; }

.table-vert { margin: 5px 0; font-size: 1rem; }

	.table-vert th { padding: 4px 6px; text-align: center; background-color: #00954d; color: #FFF; border-bottom: 1px solid #FFF; font-weight: normal; }

	.table-vert td { padding: 4px 6px; }

	.table-vert tr:hover { background-color: #cdefe9 !important; }

	.table-vert tr:nth-child(even) { background-color: #e9f9f6; }

/*-- table form purple--*/
.form-block { margin: 5px 0; padding: 10px 0 0 0; border-bottom: 3px solid #FFF; border-top: 3px solid #FFF; }

.form-white { background-color: #FFF; padding: 10px 0 2px 0; }

.table-form { margin: 0; padding: 0; border-top: 1px solid #FFF; border-bottom: 1px solid #c4c4c4; font-size: 1rem; }

	.table-form th { background-color: #eef9fa; color: #00737d; padding: 4px 6px; border-bottom: 1px solid #d9d9d9; }

	.table-form td { padding: 4px 6px; color: #333333; }

	.table-form tr:hover { background-color: #e7f6f7 !important; }

	.table-form tr:nth-child(odd) { background-color: #f6fcfc; }

/*---search table end ----------*/

/*----  search btn ---*/

.btn-search { font-size: .9em !important; padding: 4px 6px; margin: 1px 0 10px 0; background-color: #efefef; color: #007ad0; height: 30px; }

	.btn-search:hover { background-color: #00a3b6; color: #FFF !important; }

.btn-pink { background-color: #fd5672; color: #FFF; }

.btn-orange { background-color: #ff8400; color: #000; text-shadow: white 0.1em 0.1em 0.2em; }

	.btn-orange:hover { background-color: #CC0000; color: #FFF !important; text-shadow: black 0.1em 0.1em 0.2em !important; }

.btn-green { font-size: .9em !important; padding: 4px 2% !important; margin: 0; background-color: #008545; color: #FFF; height: 30px; border-radius: 15px !important; }

	.btn-green:hover { background-color: #016270; color: #FFF !important; }

.btn-green2 { font-size: .9em !important; padding: 2px 10% !important; margin: 0; background-color: #008545; color: #FFF; border-radius: 15px !important; }

	.btn-green2:hover { background-color: #7ec8a3; color: #FFF !important; }

.btn-refill { background-color: #a4a4a4; color: #FFF; }

	.btn-refill:hover { background-color: #454545; color: #FFF !important; }

.btn-refill2 { background-color: #e6e6e6 ; color: #000; } /*background-color: #5B5858 ; color: #000;*/

	.btn-refill2:hover { background-color: #454545 !important; color: #FFF !important; }

.submit-bar { display: block; text-align: center; padding: 6px 0; }

	.submit-bar button { font-size: .9em !important; padding: 5px 5%; margin: 5px 0 5px 0; border: none; border-radius: 4px; display: inline-block; }

	.submit-bar a { font-size: .9em !important; padding: 5px 5%; margin: 5px 0 5px 0; border: none; border-radius: 4px; display: inline-block; }

.submit-bar-gray { background-color: #f7f7f7; display: block; text-align: center; padding: 3px 0; border-top: 1px solid #70bca9; }

.btn-red { font-size: 1em !important; padding: 4px 10% !important; margin: 1px 0 10px 0; margin-left: 5px; background-color: #dd2626; color: #FFF; border-radius: 4px !important; }

	.btn-red:hover { background-color: #ff6a6a; color: #FFF !important; }

.btn-vert { font-size: .9em !important; padding: 4px 2% !important; margin: 0; background-color: #ff9600; color: #FFF; height: 30px; border-radius: 15px !important; }

	.btn-vert:hover { background-color: #d14000; color: #FFF !important; }

/*-- table class green--*/
.table-class { margin: 2px 0; padding: 0; font-size: .9rem; }

	.table-class th { background-color: #5E5E5E; color: #484848; font-weight: normal; padding: 4px 6px; border-top: 1px solid #e0e0e0; }

	.table-class tr { border-bottom: 1px solid #e0e0e0; }

		.table-class tr:first-child { border-top: none; }

		.table-class tr:last-child { border-bottom: none; }

	.table-class td { padding: 4px 6px; color: #252525; }

	.table-class tr:hover { background-color: #edfaf1; }

	.table-class ul { padding: 0; margin: 0; }

	.table-class li { padding: 3px; width: 50%; float: left; list-style: none; background-color: #f0f0f0; }

/*-- table class blue--*/
.table-class-blue { margin: 2px 0; padding: 0; font-size: .9rem; border: 1px solid #e0e0e0; background-color: #f5faff; }

	.table-class-blue th { text-align: center; background-color: #a8d1ff; color: #333333; padding: 4px; border-top: 1px solid #e0e0e0; }

	.table-class-blue tr { border-bottom: 1px solid #e0e0e0; }

		.table-class-blue tr:first-child { border-top: none; }

		.table-class-blue tr:nth-child(odd) { background-color: #ebf5ff; }

	.table-class-blue td { padding: 4px; color: #484848; }

	.table-class-blue tr:hover { background-color: #ddebf9; }

.titlebar-note { background-color: #fee9e9; color: #ff201b; border-radius: 6px; font-size: .9rem; padding: 2px 8px; margin: 2px 0; border: 1px solid #ff9262; }

.text-classname { font-size: 1rem; color: #23569b; font-weight: bold; padding-left: 10px; }

/*-------------------------------------teacher-list --------------------------*/
.planZone { background-color: #f7f7f7; border-radius: 6px; margin: 20px 0; padding: 0; min-height: 160px; }

.planZone-title { width: 16.6%; float: left; background-color: #00856a; color: #FFF; overflow: auto; border-radius: 6px 0 0 6px; min-height: 160px; text-align: center; font-size: 1.5rem; letter-spacing: .2rem; padding-top: 5px; }

	.planZone-title a { text-decoration: none; color: #FFF; }

		.planZone-title a:hover { color: #FFF; text-decoration: none; }

	.planZone-title img { display: block; margin: 15px auto; }

ul.teacher-list li { float: left; width: 14.28%; text-align: center; }

	ul.teacher-list li a { display: block; margin: 5px; padding: 3px 12px; background-color: #FFF; border-radius: 50px; font-size: 1.063rem; border: 1px solid #e6e6e6; color: #333333; }

		ul.teacher-list li a:hover { text-decoration: none; -webkit-transition: all 0.3s ease; -o-transition: all 0.3s ease; transition: all 0.3s ease; color: #FFFFFF; background-color: #62b928; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2); box-shadow: 0 1px 5px rgba(0, 0, 0, .2); }

@media only screen and (max-width:768px) and (min-width:480px) {
	.planZone { min-height: 140px; }

	.planZone-title { width: 16.6%; float: left; background-color: #00856a; color: #FFF; overflow: auto; border-radius: 6px 0 0 6px; min-height: 140px; text-align: center; font-size: 1.25rem; letter-spacing: .2rem; padding-top: 5px; }

		.planZone-title img { display: block; margin: 15px auto; width: 60%; }

	ul.teacher-list li { float: left; width: 20%; text-align: center; }

	ul.planZone-list li a { display: inline-block; text-align: center; vertical-align: middle; margin: 15px auto; padding: 25px 12px 20px 12px; height: 105px; width: 105px; font-size: 1.125rem; line-height: 1.5rem; top: calc(50%-20px); }
}

@media only screen and (max-width:480px) {
	ul.planZone-list { display: none; }

	.planZone-title { width: 100%; float: none; background-color: #00856a; color: #FFF; overflow: auto; border-radius: 6px; min-height: 150px; text-align: center; font-size: 1.25rem; letter-spacing: .2rem; padding-top: 5px; }

		.planZone-title:hover { background-color: #CCCCCC; }

		.planZone-title a:hover { color: #FFF; }

	ul.teacher-list li { float: left; width: 33.3%; text-align: center; }
}

/*-- footer ---*/
.footer-bg { background-color: #4b4b4b; padding: 15px 0; overflow: auto; }

.footer { font-size: .8em; color: #e9e9e9; }

	.footer a { color: #e9e9e9; text-decoration: none; }

		.footer a:hover,
		.footer a:focus { color: #FFF; text-decoration: underline; }

.text-yellow { color: #ffe400; }

@media only screen and (max-width:480px) {
	.footer-nav-bg { display: none; }

	.footer { font-size: 1em; line-height: 1.4em; }
}

/*-- table-news --*/
.table-index { margin-bottom: 10px; font-size: 1em; border-bottom: 3px solid #eeeeee; -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .5); box-shadow: 0 0 8px rgba(0, 0, 0, .5); }

	.table-index th { text-align: center; background-color: #007DB8; border-bottom: 4px solid #88d9ff; color: #FFF; padding: 6px; border-left: 1px solid #49b7ea; }

		.table-index th:first-child { border-left: none; }

	.table-index td { padding: 10px 4px; }

	.table-index tr:nth-child(even) { background-color: #f0f8fb; }

	.table-index tr:hover { background-color: #d8f4ff; }

	.table-index a { color: #333333; }

		.table-index a:hover { color: #005dc9; text-decoration: none; }

	.table-index .newsDate { color: #474747; text-align: center; }

	.table-index td:first-child { text-align: center; }

.table-pink td:first-child { background: url(../images/icon-arrow-pink.png) center left no-repeat; padding-left: 18px; }

.table-green td:first-child { background: url(../images/icon-arrow-green.png) center left no-repeat; padding-left: 18px; }

.table-pager { text-align: center; }

/*-- green horz --*/
.table-green-horz { margin: 10px 0; font-size: .9rem; }

	.table-green-horz th { padding: 4px 6px; text-align: center; background-color: #00954d; color: #FFF; border-right: 1px solid #FFF; font-weight: normal; }

		.table-green-horz th:last-child { border-right: none; }

	.table-green-horz td { padding: 4px 6px; }

	.table-green-horz tr:hover { background-color: #cdefe9 !important; }

	.table-green-horz tr:nth-child(odd) { background-color: #e9f9f6; border-bottom: 1px solid #FFF; }

	.table-green-horz tr:last-child { background-color: #c8f1e8; border-bottom: none; }

	.table-green-horz td:last-child { text-align: right; }

/*----- class ----*/
ul.class-photo li { text-align: center; margin: 5px auto; }

	ul.class-photo li img { width: 100%; }

ul.videoLink li { background-color: #f1f6fa; padding: 10px; margin-bottom: 10px; border-radius: 10px; }

	ul.videoLink li a i { background-color: #9cc3e9; height: 30px; width: 30px; text-align: center; font-size: 1.188rem; padding: 5px 0; border-radius: 20px; color: #FFF; margin-right: 5px; }

	ul.videoLink li .note { margin-left: 2rem; padding: 5px 0 0 5px; }

@media only screen and (max-width:768px) {
}

/*--- bread ---*/
.breadlink { color: #666666; font-size: .9em; padding: 4px 0 0 4px; }

	.breadlink a { color: #074f93; text-decoration: underline; }

		.breadlink a:hover { color: #0083ff; text-decoration: none; }

/*---- page table----*/
ul.pager { padding: 0; margin: 0; }

	ul.pager li a { font-size: .9rem; padding: 5px 8px; line-height: 1rem; }

@media only screen and (max-width:480px) {
	.table-newsList { font-size: 1.25em; }
}

.gotop { text-align: center; font-size: 1.5em; margin: 20px 15px 10px 0; }

	.gotop a { color: #6B6B6B; }

/*--page news --*/
.news-content { padding: 10px; -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, .2); box-shadow: 0 1px 5px rgba(0, 0, 0, .2); border-radius: 6px; letter-spacing: .1rem; }

h3.news-headtitle { font-size: 1.25em; color: #006fb5; margin: 10px 0 10px 10px; padding: 0; line-height: 1.4em; float: left; width: 75%; }
h4.news-headtitle { font-size: 1.25em; color: #006fb5; margin: 10px 0 10px 10px; padding: 0; line-height: 1.4em; float: left; width: 75%; }

.news-content p { padding: 4px 10px; line-height: 1.8em; }

.newsgroup { margin-top: 0; }

.mark-red { color: #D60000 !important; }

.mark-blue { color: #0077d2; }

.newsgroup h4 { font-size: 1.188rem; line-height: 1.6rem; padding: 4px 10px; color: #007399; }

.newsgroup ol.stylea { padding-left: 60px; }

	.newsgroup ol.stylea > li { padding: 0 0 8px 0; margin: 0; list-style: cjk-ideographic; }

	.newsgroup ol.stylea ol { padding: 0; }

	.newsgroup ol.stylea > li li { padding: 4px 0; margin: 0 0 0 2rem; list-style: decimal; }

.newsgroup ul.styleb { padding: 0 0 15px 15px; margin: 0px 0; font-weight: bold; }

	.newsgroup ul.styleb li { background: url(../images/icon-arrow-blue.png) center left no-repeat; margin: 0; padding: 4px 0 4px 18px; font-weight: normal; }

.newsgroup ul.download { border-top: 1px dotted #eeeeee; padding: 0 5px; margin: 4px 0; }

	.newsgroup ul.download li { background: url(../images/icon-arrow-green.png) center left no-repeat; margin:; padding: 6px 0 6px 18px; border-bottom: 1px dotted #eeeeee; }

		.newsgroup ul.download li a { margin: 0 0 0 6px; padding: 2px 6px; border-radius: 4px; }

			.newsgroup ul.download li a:hover { text-decoration: none; }

			.newsgroup ul.download li a.file-pdf { background-color: #ffdae3; color: #de1846; }

				.newsgroup ul.download li a.file-pdf:hover { background-color: #de1846; color: #FFF; }

			.newsgroup ul.download li a.file-odt { background-color: #daefff; color: #0e84df; }

				.newsgroup ul.download li a.file-odt:hover { background-color: #0e84df; color: #FFF; }

.img-right { float: right; margin: 10px 10px 10px 20px; }

.img-left { float: left; margin: 10px 20px 10px 10px; }

h4.content-title { font-size: 1.063rem; color: #FFF; padding: 8px 18px 6px 18px; margin: 5px 0 1px 0; line-height: 1.4em; background-color: #0070aa; border-radius: 8px 8px 0 0; display: inline-block; }

.news-content .newsDate { text-align: right; color: #555555; font-size: .8em; margin-right: 10px; }

ul.newsInfo { margin: 4px 0 20px 0; padding: 5px 10px; border-bottom: 1px solid #f4bd00; border-top: 1px solid #f4bd00; background-color: #fef8e5; }

	ul.newsInfo li { list-style: none; padding: 3px 0; margin: 0; color: #555555; font-size: .9em; }

	ul.newsInfo .newsInfo-mark { color: #004372; }

h4.file-title { margin: 5px 0 0 0; font-size: .9em; background-color: #0082dc; padding: 6px 15px; display: inline-block; color: #FFF; }

.content-note { color: #555555; padding: 5px 10px; font-size: .8em; }

@media only screen and (max-width:480px) {
	h3.news-headtitle { font-size: 1.25em; color: #024696; margin: 5px 0; padding: 0; line-height: 1.4em; float: none; width: 100%; }
    h4.news-headtitle { font-size: 1.25em; color: #024696; margin: 5px 0; padding: 0; line-height: 1.4em; float: none; width: 100%; }

	h4.content-title { font-size: 1.5em; }

	.news-content .newsDate { font-size: 1em; }

	ul.newsInfo li { font-size: 1.125em; }

	.news-content p { font-size: 1.25em; }

	h4.file-title { font-size: 1.25em; }

	ol.file-list { font-size: 1.25em; line-height: 1.4em; }

	.content-note { font-size: 1em; }

	.newsgroup { font-size: larger; }

	.newsdata { width: 100% !important; }

	.img-left,
	.img-right { float: none; width: 98%; margin: 10px 2%; }
}

/*---news data ---*/
ul.news-content-data { margin: 0 0 10px 0; padding: 6px 10px; background-color: #eff7fc; font-size: .9em; }

	ul.news-content-data li { list-style: none; padding: 2px 0; }

		ul.news-content-data li span { color: #0074B3; font-weight: bold; }

@media only screen and (max-width:768px) and (min-width:480px) {
	ul.news-content-data { margin: 0 0 10px 0; border-left: none; padding: 0; }

		ul.news-content-data li { float: left; width: 50%; padding-left: 10px; background-color: #f4f4f4; margin-bottom: 5px; }
}

@media only screen and (max-width:480px) {
	ul.news-content-data { margin: 5px 0; padding: 10px; font-size: 1em; }

		ul.news-content-data li { padding-left: 0px; }
}

/*----- form setting ---*/
.form-title { background-color: #006699; color: #FFF !important; border-radius: 8px 8px 0 0; padding-left: 10px; }

.form-normal { height: 36px; padding: 6px 12px; line-height: 1.42857143; color: #555; background-color: #fff; background-image: none; border: 1px solid #ccc; border-radius: 4px; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075); -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s, -webkit-box-shadow ease-in-out .15s; }

.form-border-red { border: 1px solid #f50011 !important; }

.form-10 { width: 10%; }

.form-20 { width: 20%; }

.form-30 { width: 30%; }

.form-40 { width: 40%; }

.form-50 { width: 50%; }

.form-60 { width: 60%; }

.form-70 { width: 70%; }

.form-80 { width: 80%; }

.form-90 { width: 90%; }

.form-100 { width: 100%; }

@media only screen and (max-width:480px) {
	.form-20,
	.form-30 { width: 100%; }
}

/*------- form setting end -----*/

/*-- footer Menu ---*/
.footer-nav-bg { background-color: #cee6e8; padding: 0 20px; overflow: auto; border-top: 1px solid #c9c9c9; }

ul.footer-nav { width: 16.66%; float: left; padding: 15px 0; }

	ul.footer-nav li.footer-title { font-size: 1.125em; display: block; text-align: left; color: #303030; padding: 0; margin: 20px 0 5px 0; font-weight: bold; line-height: 1.4em; background: none; }

	ul.footer-nav li { padding: 0 0 0 20px; margin: 4px 0; list-style: none; background: url(../images/icon-footerPoint.png) top left no-repeat; }

		ul.footer-nav li a { padding: 0; margin: 0; color: #4d4d4d; }

.footer-bg { background-color: #436b6e; padding: 15px 0; overflow: auto; }

.footer .logo { padding: 10px 0; }

ul.footer-link { margin-top: 25px; }

	ul.footer-link li a { padding: 4px 0 4px 20px; background: url(../images/icon-arrow-gray.png) left center no-repeat; }

.footer a { color: #e9e9e9; text-decoration: none; }

	.footer a:hover,
	.footer a:focus { color: #FFF; text-decoration: underline; }

.footer .footer-title { font-size: 1.125rem; padding: 10px 0; }
