@using Turbo.MVC.Base3.Areas.A6.Models;
@model C101MDetail1Model
@{
    Layout = "~/Views/Shared/_MainLayout_NoHeader_NoBg.cshtml";
}
@using (Html.BeginForm("Save", "C101M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
{
    var button = new Dictionary<string, string>();
    button.Add("Save", "doSavePower()");
    button.Add("Close", "doClose()");
    @Html.ButtonForTurbo(button)

    <div class="col-sm-12">
        <div class="theme-news">
            <div class="form-border">
                @Html.HiddenFor(m => m.getid)
                @Html.ControlForTurbo(Model)
            </div>
        </div>
    </div>
}

<script type="text/javascript">



    //儲存
    function doSavePower() {
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("SavePower")').submit();
    }

    //關閉
    function doClose() {
        parent.closeWindow();
    }
</script>
