@model WDACC.Models.ViewModel.MemberViewModel
@using WDACC.Commons

@{
    ViewBag.Title = "PasswordChange";
}

<div id="change_password">
    <h3 class="news-headtitle">修改密碼</h3>
    <div class="clearfix"></div>
    <!-- news group start -->
    @using (Html.BeginForm("Save", "Member", new { id = ActionName.Member.ChangePassword }, FormMethod.Post, new { id = "main_form", @class = "form-horizontal inputSet" }))
    {
        @*<form action="member.php?do=updmem" method="post" class="form-horizontal inputSet">*@
        <div class="form-group">
            <label for="text" class="control-label col-sm-3">請輸入舊密碼</label>
            <div class="col-sm-9">
                @Html.PasswordFor(x => x.PasswordForm.OldPassword, new { @class = "form-control", placeholder = "請輸入舊密碼", maxlength = 100 })
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-sm-3"> 請輸入新密碼 </label>
            <div class="col-sm-9">
                @Html.PasswordFor(x => x.PasswordForm.Password, new { @class = "form-control", placeholder = "請輸入新密碼", maxlength = 100 })
                <div style="color:red; font-size:small">密碼長度需為12~16碼 且應包含英文大小寫、數字及符號 @@#$%_ 的組合  </div>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-sm-3">請再次輸入新密碼</label>
            <div class="col-sm-9">
                @Html.PasswordFor(x => x.PasswordForm.PasswordConfirm, new { @class = "form-control", placeholder = "請再次輸入新密碼", maxlength = 100 })
            </div>
        </div>
        <div class="submit-bar">
            <button type="submit" name="submitm" id="save" class="btn btn-orange">確定</button>
        </div>
        @*</form>*@
    }
</div>

<script>
    $(function () {
        var root = $('div#change_password');
        root.on('click', '#save', function (e) {
            e.preventDefault();
            $.ajax({
                url: root.find('#main_form').attr('action'),
                data: root.find('#main_form').serialize(),
                method: 'POST'
            }).done(function (resp) {
                if (resp && resp.status) {
                    blockAlert("儲存成功，請重新登入!", null, function () {
                        window.location = '@Url.Action("Index", "Facade", new { id = "Login" })';
                    });
                } else {
                    if (resp && resp.message) {
                        var res = '';
                        $.each(resp.message, function (i, item) {
                            res += item + '\n';
                        });
                        blockWarning(res);
                    }
                }
            });
        });

    });
</script>

