@model WDACC.Models.ViewModel.MemberViewModel
@using WDACC.Models.StoreExt
@using WDACC.Commons

@{
    ViewBag.Title = "師資教材分享說明事項";
    Store store = new Store();
    store.Collection(Model.ShareHome);
    string str = store.Get("content").AsHtmlDecodedText();
}

@Html.Partial("_Breadcrumb")
@Html.Partial("_TitleBar")

<div class="unit-border">
    <div class="unit-bg unit-bg-blue">
        @Html.Raw(str)
        <div class="submit-bar">
            <a class="btn btn-orange" href="@Url.Action("Index", "Member", new { id = ActionName.Member.MemberShare })">
                教材分享
            </a>
        </div>
    </div>
</div>
