@using Turbo.MVC.Base3.Services
@model Turbo.MVC.Base3.Models.HomeViewModel

@if (Model.News.ToCount() > 0)
{
    for (int i = 0; i < Model.News.ToCount(); i += 1)
    {
        var item = Model.News[i];
        string important = "";
        if (i < Model._lstGroup)
        {
            <tr style="@(important)">
                <td width="15%" align="center">
                </td>
                <td width="85%">
                    <a href="javascript:void(0);" onclick="goNews('0');" style="@(important)">
                    </a>
                </td>
            </tr>
        }
        else
        {
            <tr data-role="m" style="@(important)">
                <td width="15%">
                </td>
                <td width="85%">
                    <a href="javascript:void(0);" onclick="goNews('0');">
                    </a>
                </td>
            </tr>
        }

    }
}