@model WDACC.Models.ViewModel.AdminViewModel
@using WDACC.Commons

@{
    ViewBag.Title = "PasswordChange";
}

<div id="change_password">
    <h3 class="news-headtitle">修改密碼</h3>
    <div class="clearfix"></div>
    <!-- news group start -->
    @using (Html.BeginForm("Save", "Admin", new { id = ActionName.Admin.ChangePassword }, FormMethod.Post,
                new { id = "main_form", @class = "form-horizontal inputSet" }))
    {
        @*<form action="member.php?do=updmem" method="post" class="form-horizontal inputSet">*@
        <div class="form-group">
            <label for="text" class="control-label col-sm-3">帳號</label>
            <div class="col-sm-9">
                @Model.TeacherModel.Mem.email
                @Html.HiddenFor(x => x.TeacherModel.Detail.mid)
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-sm-3"> 請輸入新密碼 </label>
            <div class="col-sm-9">
                @Html.PasswordFor(x => x.TeacherModel.Password, new { @class = "form-control", placeholder = "請輸入新密碼", maxlength = 20 })
                <div style="color:red; font-size:small">密碼長度需為12~16碼 且應包含英文大小寫、數字及符號 @@#$%_ 的組合  </div>
            </div>
        </div>
        <div class="form-group">
            <label for="text" class="control-label col-sm-3">請再次輸入新密碼</label>
            <div class="col-sm-9">
                @Html.PasswordFor(x => x.TeacherModel.PasswordConfirm, new { @class = "form-control", placeholder = "請再次輸入新密碼", maxlength = 20 })
            </div>
        </div>
        <div class="submit-bar">
            <button type="submit" name="submitm" id="save" class="btn btn-orange">確定</button>
        </div>
        @*</form>*@
    }
</div>

<script>
    $(function () {
        var root = $('div#change_password');
        var form = root.find('#main_form');

        root.on('click', '#save', function (e) {
            e.preventDefault();
            $.ajax({
                url: form.attr('action'),
                data: form.serialize(),
                method: 'POST'
            }).done(function (resp) {
                if (resp && resp.status) {
                    blockAlert("儲存成功");
                } else {
                    if (resp && resp.message) {
                        var res = '';
                        $.each(resp.message, function (i, item) {
                            res += item + '\n';
                        });
                        blockWarning(res);
                    }
                }
            });
        });
    });
</script>

